In [1]:
import pandas as pd

In [2]:
uri = "https://gist.githubusercontent.com/guilhermesilveira/2d2efa37d66b6c84a722ea627a897ced/raw/10968b997d885cbded1c92938c7a9912ba41c615/tracking.csv"
dados = pd.read_csv(uri)
dados

    home  how_it_works  contact  bought
0      1             1        0       0
1      1             1        0       0
2      1             1        0       0
3      1             1        0       0
4      1             1        0       0
..   ...           ...      ...     ...
94     0             0        1       0
95     1             1        1       1
96     0             0        1       0
97     0             1        0       0
98     0             0        0       0

[99 rows x 4 columns]

## Mudando o nome dos dados dar sentido

In [3]:
mapa = {
    'home': 'principal',
    'how_it_works': 'como_funciona',
    'contact': 'contato',
    'bought': 'comprou'
    
}

dados = dados.rename(columns = mapa)

In [4]:
x = dados[['principal', 'como_funciona', 'contato']]
y = dados['comprou']

In [5]:
x.head()

   principal  como_funciona  contato
0          1              1        0
1          1              1        0
2          1              1        0
3          1              1        0
4          1              1        0

In [6]:
y.head()

0    0
1    0
2    0
3    0
4    0
Name: comprou, dtype: int64

In [7]:
dados.shape

(99, 4)

## Pegando alguns elementos para testar o algoritmo.

> é sempre bom separar o teste do treino, pois o teste é para validar o algoritmo, e o treino para coloca-lo em prática com um arquivo maior que o do teste

In [8]:
treino_x = x[:75]
treino_y = y[:75]

teste_x = x[75:]
teste_y = y[75:]
print("Treinaremos com %d elementos e testaremos com %d elementos" % (len(treino_x), len(teste_x)))

Treinaremos com 75 elementos e testaremos com 24 elementos

In [22]:
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score

modelo = LinearSVC()
modelo.fit(treino_x, treino_y)
previsoes = modelo.predict(teste_x)

acuracia = accuracy_score(teste_y, previsoes) * 100
print('A acuracia foi de %.2f%%' % acuracia)

A acuracia foi de 96.00%

## Usando uma biblioteca para separar treino de teste

In [44]:
from sklearn.model_selection import train_test_split
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score

SEED = 20

treino_x, teste_x, treino_y, teste_y = train_test_split(x, y, random_state=SEED, test_size=0.25)
print("Treinaremos com %d elementos e testaremos com %d elementos" % (len(treino_x), len(teste_x)))

modelo = LinearSVC()
modelo.fit(treino_x, treino_y)
previsoes = modelo.predict(teste_x)

acuracia = accuracy_score(teste_y, previsoes) * 100
print('A acuracia foi de %.2f%%' % acuracia)

Treinaremos com 74 elementos e testaremos com 25 elementos
A acuracia foi de 96.00%

In [48]:
treino_y.value_counts()

0    47
1    27
Name: comprou, dtype: int64

In [49]:
teste_y.value_counts()

0    19
1     6
Name: comprou, dtype: int64

In [50]:
from sklearn.model_selection import train_test_split
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score

SEED = 20

treino_x, teste_x, treino_y, teste_y = train_test_split(x, y,
                                                        random_state=SEED, test_size=0.25,
                                                       stratify=y)
print("Treinaremos com %d elementos e testaremos com %d elementos" % (len(treino_x), len(teste_x)))

modelo = LinearSVC()
modelo.fit(treino_x, treino_y)
previsoes = modelo.predict(teste_x)

acuracia = accuracy_score(teste_y, previsoes) * 100
print('A acuracia foi de %.2f%%' % acuracia)

Treinaremos com 74 elementos e testaremos com 25 elementos
A acuracia foi de 96.00%

In [51]:
treino_y.value_counts()

0    49
1    25
Name: comprou, dtype: int64

In [52]:
teste_y.value_counts()

0    17
1     8
Name: comprou, dtype: int64